/* You can add global styles to this file, and also import other style files */
.center-screen {
    padding-bottom: 5% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    min-height: 100vh !important;
  }